/* Archivo CSS (estilos adicionales) */
.hover-effect:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.team-member {
  transition: box-shadow 0.3s;
}

.team-member:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.team-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.team-img:hover {
  transform: scale(1.1);
}