/* You can add global styles to this file, and also import other style files */
/* Fondo de Hero/Banner */
.hero {
    
    height: 80vh;
  }
  
  /* Estilos de tarjetas de servicio */
  .service-card {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    transition: transform 0.3s;
  }
  .service-card:hover {
    transform: scale(1.05);
  }
  
  /* Sección de Eventos */
  .events-section .event-card {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
  }
  .events-section .btn-outline-light {
    border-color: #fff;
    color: #fff;
  }
  
  /* Botones y Colores */
  .btn-primary {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
  }
  .btn-outline-primary {
    color: #ff5a5f;
    border-color: #ff5a5f;
  }
  .btn-outline-primary:hover {
    background-color: #ff5a5f;
    color: #fff;
  }
  
  .footer {
    background: #111;
    color: #aaa;
    font-size: 0.9rem;
  }

  /* Fuente Roboto para el Navbar */
body, .navbar, .nav-link {
  font-family: 'Roboto', sans-serif;
}

/* Fondo negro inicial */
#navbar {
  background-color: #1a1a1a;
  transition: background-color 0.3s;
}

/* Fondo más oscuro o sombra al hacer scroll */
#navbar.scrolled {
  background-color: transparent; /* o un color más oscuro si deseas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


/* Ajustes de color para enlaces */
.nav-link {
  color: #fff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff5a5f; /* Color de acento al hacer hover */
}

  